.Store {
  min-height: 50%;
  display: flex;
  flex-direction: row;
  color: white;
  padding-bottom: 10px;
}

.Store-header {
  background-color: #282c3d;
  min-height: 50%;
  align-items: center;
  justify-content: space-between;
  font-size: calc(20px + 2vmin);
  color: white;
  padding-bottom: 10px;
  display:flex; 
  flex-direction:row;
}

.Store-sidebar {
  background-color: #282c3d;
  display: flex;
  flex-direction: column;
  font-size: calc(5px + 2vmin);
}


form>h1 {
  font-size: calc(10px + 2vmin);
}